*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(174, 192, 72);
}
/* zadanie 1  */
#pole
{
    border-radius: 10px;
    margin: 10px;
}
#sprawdz:hover
{
    background-color: rgb(251, 255, 0);
    border: 2px solid black;
    padding: 2px;
}
#wynik
{
    margin: 10px;
}
/* zadanie 2  */