*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(133, 173, 173);
}
/* zadanie 1  */
h3{
    text-align: center;
    margin-top: 10px;
}
#pole{
    margin: 20px;    
}
#sprawdz
{
    width: 75px;
}
#wynik{
    margin: 0 20px 20px 20px;
    display: inline;
}
/* zadanie 2  */
#wypisz{
    margin-left: 20px;
    width: 75px;
}
.container{
    margin: 20px;
}
/* zadanie 3 */
h4{
    text-align: center;
    margin-top: 10px;
}
#X{

    text-align: center;
    font-size: large;
    font-weight: bolder;
    margin: 10px;
}
#randomer1{
    width: 300px;
    margin: 20px 20px 5px 20px;
}
#liczbaWprowadzana{
    margin: 5px 20px;
    width: 150px;
}
#spr{
    width: 110px;
    margin: 5px 20px;
}
#wynik3{
    margin: 10px 20px;
    font-weight: bold;
}
